aside {
  height: 100%;
  width: 25%;
  border: 1px solid #d3d3d3;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  border-radius: 15px;
  background-color: #ffff;
  padding: 0.25rem * 5;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .searchbar {
    display: flex;
    align-items: center;
    background-color: #eaeaea;
    padding: 0.25rem * 3;
    border: 1px solid #828282;
    border-radius: 10px;
    input {
      border: 0;
      height: 100%;
      width: 100%;
      background-color: #eaeaea;
      color: #374151;
      &:focus {
        outline: none;
      }
    }
    svg {
      height: 0.25rem * 5;
    }
    > * + * {
      margin-left: 0.25rem * 3;
    }
  }
  > * + * {
    margin-top: 0.25rem * 3;
  }
  .title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    > * + * {
      margin-left: 0.25rem * 2;
    }
    p {
      font-size: 0.25rem * 6;
    }
    .logo {
      background-color: #374151;
      color: #fff;
      border-radius: 100%;
      height: 0.25rem * 11;
      padding: 0.2rem * 3;
      width: 0.25rem * 11;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        height: 100%;
      }
    }
  }
  #users {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    flex: 1;
    height: 100%;
    .contact {
      width: 100%;
      border-bottom: 2px solid #d3d3;
      padding: 0.25rem * 2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      & > * + * {
        margin-left: 0.25rem * 3;
      }

      &:active {
        background-color: #ece8e8;
      }

      img {
        height: 0.25rem * 8;
        border-radius: 100%;
        outline: 3px solid #d3d3d3;
        border: 2px solid #828282;
      }
      .userInfo {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: start;

        & > * + * {
          margin-top: 0.25rem;
        }
        .recentMessage {
          display: flex;
          & > * + * {
            margin-left: 0.25rem;
          }
        }
      }

      .status {
        padding: 0.4rem;
        border-radius: 100px;
        &.green {
          background-color: rgb(31, 188, 31);
        }
      }
    }
  }
  .btn-grp {
    display: flex;
    > * + * {
      margin-left: 0.25rem * 3;
    }
    #logout {
      background-color: rgb(30 58 138);
      color: #fff;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      width: 100%;
      padding: 0.25rem * 4;
      box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
      transition: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
      &:active {
        transform: scale(0.9);
      }
      svg {
        height: 0.25rem * 4;
      }
      > * + * {
        margin-left: 0.25rem;
      }
    }
    #setting {
      background-color: #ffff;
      color: #374151;
      border: 1px solid #a8a6a6;
      display: flex;
      align-items: center;
      border-radius: 10px;
      font-size: medium;
      font-weight: 600;
      width: 50%;
      padding: 0.25rem * 4;
      box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
      transition: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
      &:active {
        transform: scale(0.9);
      }
      svg {
        height: 0.25rem * 4;
      }
      > * + * {
        margin-left: 0.25rem;
      }
    }
  }
}
